.background {
  fill: #fdd835;
}

.border {
  fill: #000;
}

.brain-left {
  fill: #f00;
}

.brain-left:hover {
    fill: rgb(247, 119, 119);
}

.brain-right {
  fill: #00f;
}

.brain-right:hover {
    fill: rgb(127, 127, 250);
}

.brain-outline {
  fill: #000;
  stroke: #000;
  stroke-width: 1px;
}
