:host {
    width: 50%;
    min-width: 200px;
}

svg {
    width: 100%;
}
.background {
    fill: #fdd835;
}

.border {
    fill: #000;
}

.brain-left {
    fill: #f00;
}

.brain-right {
    fill: #00f;
}

.brain-outline {
    fill: #000;
    stroke: #000;
    stroke-width: 1px;
}
