:host {
    display: flex;
    align-items: center;
    justify-content: center;
}
section {
    width:50vw;    
    min-width: 320px;
    max-width: 600px;
    height:50vw;
    min-height: 320px;
    max-height: 600px;
}

div {
    display: flex;
    align-items: center;
    justify-content: center;
}

button {
    width: 30%;
    margin: 20px 5%;
}